In [1]:
import pandas as pd

In [3]:
df1=pd.read_csv("travel_recommendation_new_3.csv",encoding='ISO-8859-1')
df2=pd.read_csv("data_collaborative_new.csv")
df1.head()

,location,place,state,rating,age,season,affordable,solo_family_friends,religion,item_id
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4,NAN,Winter,Yes,family,Hindu,1
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4,20,Year,Yes,friends,Any,2
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,Any,3
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5,Any,Winter,Yes,family,Hindu,4
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,Any,Year,Yes,Solo,Any,5

In [4]:
df1.head()

,location,place,state,rating,age,season,affordable,solo_family_friends,religion,item_id
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4,NAN,Winter,Yes,family,Hindu,1
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4,20,Year,Yes,friends,Any,2
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,Any,3
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5,Any,Winter,Yes,family,Hindu,4
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,Any,Year,Yes,Solo,Any,5

In [5]:
df2.head()

   user_id  item_id  rating  timestamp
0        1        1     NaN  881250949
1        1        2     3.0  891717742
2        1        3     1.0  878887116
3        1        4     NaN  880606923
4        1        5     1.0  886397596

In [6]:
df1.shape

(342, 10)

In [7]:
df2.shape

(352, 4)

In [8]:
df1.rename(columns={'solo_family_friends':'types_of_travel'},inplace=True)
df1.tail()

,location,place,state,rating,age,season,affordable,types_of_travel,religion,item_id
337,pelling,pelling,sikkim,4.5,0,dec-may,yes,all,"hindu,sikh",338
338,zuluk,zuluk,sikkkim,3.5,30,winter,yes,friends,hindu,339
339,teesta river,teesta river,sikkim,4,30,all,yes,friends,all,340
340,gurudongmar lake,gurudongmar lake,sikkim,4,30,all,yes,all,all,341
341,goechala,goechala,sikkim,3.5,30,all,yes,solo,all,342

In [9]:
df=pd.merge(df1,df2,left_on="item_id",right_on="item_id")
df.head()

,location,place,state,rating_x,age,season,affordable,types_of_travel,religion,item_id,user_id,rating_y,timestamp
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4,NAN,Winter,Yes,family,Hindu,1,1,NaN,881250949
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4,20,Year,Yes,friends,Any,2,1,3.0,891717742
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,Any,3,1,1.0,878887116
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5,Any,Winter,Yes,family,Hindu,4,1,NaN,880606923
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,Any,Year,Yes,Solo,Any,5,1,1.0,886397596

In [10]:
df.shape

(342, 13)

In [11]:
df.rename(columns={'rating_x':'location_rating','rating_y':'user_rating'},inplace=True)
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4,NAN,Winter,Yes,family,Hindu,1,1,NaN,881250949
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4,20,Year,Yes,friends,Any,2,1,3.0,891717742
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,Any,3,1,1.0,878887116
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5,Any,Winter,Yes,family,Hindu,4,1,NaN,880606923
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,Any,Year,Yes,Solo,Any,5,1,1.0,886397596

In [12]:
df.dtypes

location            object
place               object
state               object
location_rating     object
age                 object
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int64
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [13]:
df['location_rating'].unique()

array(['4', '4.6', '5', '3.9', '4.4', '4.2', '4.3', '4.5', '3.5', '4.8',
       nan, '4.7', '4.1', '3.6', '4.9', '2.6', '3.4', '3.1', '3.8', 'Nan',
       '3.7', '3'], dtype=object)

In [14]:
df['location_rating'].replace(to_replace=['Nan','nan','NAN','NaN'],value=0,inplace=True)

In [15]:
df['location_rating'].unique()

array(['4', '4.6', '5', '3.9', '4.4', '4.2', '4.3', '4.5', '3.5', '4.8',
       nan, '4.7', '4.1', '3.6', '4.9', '2.6', '3.4', '3.1', '3.8', 0,
       '3.7', '3'], dtype=object)

In [16]:
df['location_rating'].isnull().sum()

4

In [17]:
df[df['location_rating'].isnull()]

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp
20,Gir National Park,Gujarat,Gujarat,NaN,11,Winter,Yes,friends,Any,21,1,4.0,886176814
59,Ghatshila,singhbhum,Jharkhand,NaN,All ages,"autumn,winter,spring",yes,Any,NaN,60,2,NaN,881103977
189,mount saramati,burma,nagaland,NaN,>20,spring,yes,solo,any,190,6,5.0,884128554
196,kyllang rock,khasi hills,meghalaya,NaN,>20,any,yes,solo,any,197,7,3.0,876857977

In [18]:
df['location_rating'].fillna('0',inplace=True)

In [19]:
df['location_rating'].isnull().sum()

0

In [20]:
df.dtypes

location            object
place               object
state               object
location_rating     object
age                 object
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int64
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [21]:
df['location_rating'].dtypes

dtype('O')

In [22]:
df['location_rating']=df['location_rating'].astype(float)

In [23]:
df.dtypes

location            object
place               object
state               object
location_rating    float64
age                 object
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int64
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [24]:
df['user_rating'].isnull().sum()

129

In [25]:
df[df['user_rating'].isnull()]

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,NAN,Winter,Yes,family,Hindu,1,1,NaN,881250949
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,Any,Winter,Yes,family,Hindu,4,1,NaN,880606923
5,Palolem Beach,Canacona,Goa,5.0,22,Spring,Yes,friends,Any,6,1,NaN,884182806
6,Calangute beach,North Goaalangute beach,Goa,4.4,Any,monsoon,Yes,friends,Any,7,1,NaN,881171488
9,Basilica de Bom Jesus,Bainguinim,Goa,4.5,Any,summer,Yes,family,christian,10,1,NaN,883603013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,udaipur,udaipur,rajasthan,4.0,0,monsoon,yes,all,all,327,11,NaN,890687042
331,pali,pali,rajasthan,4.0,0,oct-apr,yes,all,all,332,11,NaN,880245029
334,nathula pass,natula pass,sikkim,4.0,0,all,yes,all,all,335,11,NaN,877533771
339,teesta river,teesta river,sikkim,4.0,30,all,yes,friends,all,340,11,NaN,879551380
341,goechala,goechala,sikkim,3.5,30,all,yes,solo,all,342,11,NaN,882139746

In [26]:
df['user_rating'].unique()

array([nan,  3.,  1.,  5.,  2.,  4.])

In [27]:
df['user_rating'].fillna(0,inplace=True)

In [28]:
df['user_rating'].unique()

array([0., 3., 1., 5., 2., 4.])

In [29]:
mean_val=df['location_rating'].mean()
mean_val

4.14122807017544

In [30]:
mean_val=round(mean_val,1)
mean_val

4.1

In [31]:
df['location_rating'].replace(to_replace=0,value=mean_val,inplace=True)

In [32]:
df['location_rating'].unique()

array([4. , 4.6, 5. , 3.9, 4.4, 4.2, 4.3, 4.5, 3.5, 4.8, 4.1, 4.7, 3.6,
       4.9, 2.6, 3.4, 3.1, 3.8, 3.7, 3. ])

In [33]:
df.dtypes

location            object
place               object
state               object
location_rating    float64
age                 object
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int64
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [34]:
df.isnull().sum()

location            0
place               1
state               1
location_rating     0
age                 0
season              0
affordable          0
types_of_travel     0
religion           69
item_id             0
user_id             0
user_rating         0
timestamp           0
dtype: int64

In [35]:
df.shape

(342, 13)

In [36]:
df.dropna(how='any',subset=['place','state'],inplace=True)
df['place'].isnull().sum()

0

In [37]:
df.isnull().sum()

location            0
place               0
state               0
location_rating     0
age                 0
season              0
affordable          0
types_of_travel     0
religion           68
item_id             0
user_id             0
user_rating         0
timestamp           0
dtype: int64

In [38]:
df[df['religion'].isnull()]

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp
34,Solang Valley,Manali,Himachal pradesh,4.0,<40,"summer,winter",yes,"family,friends",NaN,35,2,0.0,884238860
36,Beas River,central Himachal pradesh,Himachal pradesh,4.5,20and above,All Seasons,yes,"friends,family",NaN,37,2,1.0,878962623
38,Jogini Waterfall,Manali,Himachal pradesh,4.5,All ages,"Summer,spring,Autumn",yes,Any,NaN,39,2,1.0,874791932
39,Spiti valley,Lahaul,Himachal pradesh,5.0,All ages,"Summer,Autumn",yes,Any,NaN,40,2,4.0,891350932
41,Triund Hill,Kangra,Himachal pradesh,4.5,20 and above,"Summer,Autumn",yes,"friends,solo",NaN,42,2,4.0,885329322
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Heritage Park,Agartala,Tripura,4.2,25 above,all time,yes,friend/family,NaN,203,7,0.0,878542420
206,Kalyan Sagar,Udaipur,Tripura,4.4,20 above,summer,yes,solo/friends,NaN,207,7,0.0,879455957
207,Rowa Wildlife Sanctuary,Dharmanagar,Tripura,3.5,15 above,summer,yes,solo/family/friends,NaN,208,7,3.0,875654637
209,Trishna Wild Life,Belonia,Tripura,3.9,15 above,Summer,yes,friends,NaN,210,7,0.0,881105481
210,Rajbari National Park,Belonia,Tripura,5.0,20 above,all time,yes,friends,NaN,211,7,5.0,888549622

In [39]:
df['religion'].fillna(value='any',inplace=True)
df['religion'].isnull().sum()

0

In [40]:
df.dtypes

location            object
place               object
state               object
location_rating    float64
age                 object
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int64
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [41]:
df['age'].unique()

array(['NAN', '20', '25', 'Any', '22', '35', '18', '24', '15', '11', '30',
       '10', '<40', 'All ages', '20and above', '20 and above',
       '20 and Above', '25-40', '20-60', '35 above', '30 above',
       '25 above', '20 above', '20 above ', '15 above', '30 -55', '30-55',
       '30-45', 'any', '27', '23', '13', '21', '26', '19', '28', '16',
       '40', '32', '45', '>15', '>20', '>10', 'above 25', 'above 15',
       'above 45', 'above 30', 'above 40', 'above 12', 'above 7',
       'above 20', 'above 10', 'any ', '0'], dtype=object)

In [42]:
df['age'].replace(to_replace=['NAN','Any','All ages'],value='any',inplace=True)
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '<40', '20and above', '20 and above', '20 and Above', '25-40',
       '20-60', '35 above', '30 above', '25 above', '20 above',
       '20 above ', '15 above', '30 -55', '30-55', '30-45', '27', '23',
       '13', '21', '26', '19', '28', '16', '40', '32', '45', '>15', '>20',
       '>10', 'above 25', 'above 15', 'above 45', 'above 30', 'above 40',
       'above 12', 'above 7', 'above 20', 'above 10', 'any ', '0'],
      dtype=object)

In [43]:
df['religion'].unique()

array(['Hindu', 'Any', 'christian', 'Musilm', 'chritian', 'any', 'Hindhu',
       'sikhs,Hindhu', 'hindhu', 'All', 'jain', 'hindhu,jain',
       'islam,all', 'Religious ', 'buddhism ', 'hindu', 'religious ',
       'muslim', 'Hindus', 'NAN', 'HIndu', 'Buddists',
       'Hindu,Buddhists,Muslims', 'Buddhists', 'sikhs', 'buddhists,sikhs',
       'Hindus,Jains,Buddhists', 'jains',
       'Hindus,Muslims,Buddhists,Jains', 'all', 'hindu,sikh'],
      dtype=object)

In [44]:
df.shape

(340, 13)

In [45]:
df['season'].unique()

array(['Winter', 'Year', 'monsoon', 'Spring', 'summer', 'winter',
       'Autumn', 'Any', 'Summer', 'NAN', 'Rainy', 'summer,winter',
       'All Seasons', 'Summer,spring,Autumn', 'Summer,Autumn',
       'summer,spring,winter', 'Summer,spring',
       'summer,spring,Autumn,Winter', 'summer,spring',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring',
       'Feb-April', 'Aug-Nov', 'all time', 'Oct-March ', 'Dec-Feb',
       'Nov-Feb', 'Dec', 'Feb', 'oct-March', 'Sep-March', 'oct-march',
       'oct-june', 'july-march', 'sep-march', 'sep-jan', 'sep-feb',
       'oct-feb', 'Oct-April', 'oct-may', 'oct-april', 'any', 'spring',
       'all time ', 'All time', 'summer ', 'Summer ',
       'sep to dec,Feb to march', 'dec to feb', 'oct to march',
       'Sep to may', 'sep to march', 'sep to dec', 'oct to jan',
       'oct to dec', 'april to june', 'sep to oct', 'March to june',
       'dec to july', 'oct to feb', 'april to oct', 'March to july',
       'jan to may', 'oct to april', 'june to nov', 'oct to may',
       'nov to april', 'oct to nov', 'oct,Feb', 'aug to oct,feb to april',
       'juneto july,oct,nov', 'june to sep', 'all', 'oct-mar', 'sep-mar',
       'dec-jun', 'oct-jun', 'nov-feb', 'oct-apr', 'sep-apr', 'jan-feb',
       'aug-nov', 'dec-may'], dtype=object)

In [46]:
df.dtypes

location            object
place               object
state               object
location_rating    float64
age                 object
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int64
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [47]:
df.shape

(340, 13)

In [48]:
df['item_id']=df['item_id'].astype(int)
df['item_id'].dtype

dtype('int32')

In [49]:
df['season']=df['season'].apply(lambda x: x.lower())
df['season'].unique()

array(['winter', 'year', 'monsoon', 'spring', 'summer', 'autumn', 'any',
       'nan', 'rainy', 'summer,winter', 'all seasons',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring',
       'feb-april', 'aug-nov', 'all time', 'oct-march ', 'dec-feb',
       'nov-feb', 'dec', 'feb', 'oct-march', 'sep-march', 'oct-june',
       'july-march', 'sep-jan', 'sep-feb', 'oct-feb', 'oct-april',
       'oct-may', 'all time ', 'summer ', 'sep to dec,feb to march',
       'dec to feb', 'oct to march', 'sep to may', 'sep to march',
       'sep to dec', 'oct to jan', 'oct to dec', 'april to june',
       'sep to oct', 'march to june', 'dec to july', 'oct to feb',
       'april to oct', 'march to july', 'jan to may', 'oct to april',
       'june to nov', 'oct to may', 'nov to april', 'oct to nov',
       'oct,feb', 'aug to oct,feb to april', 'juneto july,oct,nov',
       'june to sep', 'all', 'oct-mar', 'sep-mar', 'dec-jun', 'oct-jun',
       'oct-apr', 'sep-apr', 'jan-feb', 'dec-may'], dtype=object)

In [50]:
df['season'].replace(to_replace=['year','all seasons','any','all time ','all','nan','all time'],value='summer,spring,winter,rainy,autumn',inplace=True)

In [51]:
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring',
       'feb-april', 'aug-nov', 'oct-march ', 'dec-feb', 'nov-feb', 'dec',
       'feb', 'oct-march', 'sep-march', 'oct-june', 'july-march',
       'sep-jan', 'sep-feb', 'oct-feb', 'oct-april', 'oct-may', 'summer ',
       'sep to dec,feb to march', 'dec to feb', 'oct to march',
       'sep to may', 'sep to march', 'sep to dec', 'oct to jan',
       'oct to dec', 'april to june', 'sep to oct', 'march to june',
       'dec to july', 'oct to feb', 'april to oct', 'march to july',
       'jan to may', 'oct to april', 'june to nov', 'oct to may',
       'nov to april', 'oct to nov', 'oct,feb', 'aug to oct,feb to april',
       'juneto july,oct,nov', 'june to sep', 'oct-mar', 'sep-mar',
       'dec-jun', 'oct-jun', 'oct-apr', 'sep-apr', 'jan-feb', 'dec-may'],
      dtype=object)

In [52]:
df['season'].replace(to_replace=[x  for x in df['season'] if x.startswith('dec') ],value='winter',inplace=True)
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring',
       'feb-april', 'aug-nov', 'oct-march ', 'nov-feb', 'feb',
       'oct-march', 'sep-march', 'oct-june', 'july-march', 'sep-jan',
       'sep-feb', 'oct-feb', 'oct-april', 'oct-may', 'summer ',
       'sep to dec,feb to march', 'oct to march', 'sep to may',
       'sep to march', 'sep to dec', 'oct to jan', 'oct to dec',
       'april to june', 'sep to oct', 'march to june', 'oct to feb',
       'april to oct', 'march to july', 'jan to may', 'oct to april',
       'june to nov', 'oct to may', 'nov to april', 'oct to nov',
       'oct,feb', 'aug to oct,feb to april', 'juneto july,oct,nov',
       'june to sep', 'oct-mar', 'sep-mar', 'oct-jun', 'oct-apr',
       'sep-apr', 'jan-feb'], dtype=object)

In [53]:
df['season'].replace(to_replace=[x for x in df['season'] if x.startswith('sep') or x.startswith('oct') or x.startswith('nov')],value='autumn',inplace=True)
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring',
       'feb-april', 'aug-nov', 'feb', 'july-march', 'summer ',
       'april to june', 'march to june', 'april to oct', 'march to july',
       'jan to may', 'june to nov', 'aug to oct,feb to april',
       'juneto july,oct,nov', 'june to sep', 'jan-feb'], dtype=object)

In [54]:
df['season'].replace(to_replace=[x for x in df['season'] if x.startswith('jun') or x.startswith('jul') or x.startswith('aug')],value='monsoon',inplace=True)
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring',
       'feb-april', 'feb', 'summer ', 'april to june', 'march to june',
       'april to oct', 'march to july', 'jan to may', 'jan-feb'],
      dtype=object)

In [55]:
df['season'].replace(to_replace=[x for x in df['season'] if x.startswith('mar') or x.startswith('april')],value='summer',inplace=True)
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring',
       'feb-april', 'feb', 'summer ', 'jan to may', 'jan-feb'],
      dtype=object)

In [56]:
df['season'].replace(to_replace=[x for x in df['season'] if x.startswith('feb') or x.startswith('jan')],value='spring',inplace=True)
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring', 'summer '],
      dtype=object)

In [57]:
df['religion'].unique()

array(['Hindu', 'Any', 'christian', 'Musilm', 'chritian', 'any', 'Hindhu',
       'sikhs,Hindhu', 'hindhu', 'All', 'jain', 'hindhu,jain',
       'islam,all', 'Religious ', 'buddhism ', 'hindu', 'religious ',
       'muslim', 'Hindus', 'NAN', 'HIndu', 'Buddists',
       'Hindu,Buddhists,Muslims', 'Buddhists', 'sikhs', 'buddhists,sikhs',
       'Hindus,Jains,Buddhists', 'jains',
       'Hindus,Muslims,Buddhists,Jains', 'all', 'hindu,sikh'],
      dtype=object)

In [58]:
df['religion']=df['religion'].apply(lambda x:x.lower())

In [59]:
df['religion'].isnull().sum()

0

In [60]:
df['religion'].replace(to_replace=['NAN','All','Any'],value='any',inplace=True)
df['religion'].unique()

array(['hindu', 'any', 'christian', 'musilm', 'chritian', 'hindhu',
       'sikhs,hindhu', 'all', 'jain', 'hindhu,jain', 'islam,all',
       'religious ', 'buddhism ', 'muslim', 'hindus', 'nan', 'buddists',
       'hindu,buddhists,muslims', 'buddhists', 'sikhs', 'buddhists,sikhs',
       'hindus,jains,buddhists', 'jains',
       'hindus,muslims,buddhists,jains', 'hindu,sikh'], dtype=object)

In [61]:
t=[x.replace('hindhus','hindu') for x in df['religion']]
df['religion'].unique()

array(['hindu', 'any', 'christian', 'musilm', 'chritian', 'hindhu',
       'sikhs,hindhu', 'all', 'jain', 'hindhu,jain', 'islam,all',
       'religious ', 'buddhism ', 'muslim', 'hindus', 'nan', 'buddists',
       'hindu,buddhists,muslims', 'buddhists', 'sikhs', 'buddhists,sikhs',
       'hindus,jains,buddhists', 'jains',
       'hindus,muslims,buddhists,jains', 'hindu,sikh'], dtype=object)

In [62]:
df.dtypes

location            object
place               object
state               object
location_rating    float64
age                 object
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int32
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [63]:
df.isnull().sum()

location           0
place              0
state              0
location_rating    0
age                0
season             0
affordable         0
types_of_travel    0
religion           0
item_id            0
user_id            0
user_rating        0
timestamp          0
dtype: int64

In [64]:
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring', 'summer '],
      dtype=object)

In [65]:
df['season'].replace(to_replace='all time',value='',inplace=True)

In [66]:
df['season'].apply(lambda x: x.strip())

0                                 winter
1      summer,spring,winter,rainy,autumn
2                                monsoon
3                                 winter
4      summer,spring,winter,rainy,autumn
                     ...
337                               winter
338                               winter
339    summer,spring,winter,rainy,autumn
340    summer,spring,winter,rainy,autumn
341    summer,spring,winter,rainy,autumn
Name: season, Length: 340, dtype: object

In [67]:
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring', 'summer '],
      dtype=object)

In [68]:
df['types_of_travel'].unique()

array(['family', 'friends', 'Solo', 'Any', 'family,friends',
       'friends,family', 'friends,solo', 'any', 'Family', 'friends/Solo',
       'Family ', 'Family/Friends', 'solo/family/friends ',
       'family/friends ', 'Family/friends ', 'all', 'solo',
       'solo,friends', 'friend/family', 'Friends/Family', 'family ',
       'solo/friends', 'friends ', 'solo/family/friends', 'NAN',
       'family/Friends', 'solo/Family/Friends', 'family/friends',
       'friends/solo', 'friends/family', 'Friends/families',
       'Friends/Families', 'Friends'], dtype=object)

In [69]:
def func(z,t,u):
    r=[]
    for x in z:
        if t in x:
            y=x.replace(t,u)
            r.append(y)
        else:
            r.append(x)
    return r

In [70]:
df['types_of_travel']=func(df['types_of_travel'],'/',",")
df['types_of_travel'].unique()

array(['family', 'friends', 'Solo', 'Any', 'family,friends',
       'friends,family', 'friends,solo', 'any', 'Family', 'friends,Solo',
       'Family ', 'Family,Friends', 'solo,family,friends ',
       'family,friends ', 'Family,friends ', 'all', 'solo',
       'solo,friends', 'friend,family', 'Friends,Family', 'family ',
       'friends ', 'solo,family,friends', 'NAN', 'family,Friends',
       'solo,Family,Friends', 'Friends,families', 'Friends,Families',
       'Friends'], dtype=object)

In [71]:
df['types_of_travel'].replace(to_replace=['any','NAN','Any','all'],value='friends,family,solo',inplace=True)
df['types_of_travel'].unique()

array(['family', 'friends', 'Solo', 'friends,family,solo',
       'family,friends', 'friends,family', 'friends,solo', 'Family',
       'friends,Solo', 'Family ', 'Family,Friends',
       'solo,family,friends ', 'family,friends ', 'Family,friends ',
       'solo', 'solo,friends', 'friend,family', 'Friends,Family',
       'family ', 'friends ', 'solo,family,friends', 'family,Friends',
       'solo,Family,Friends', 'Friends,families', 'Friends,Families',
       'Friends'], dtype=object)

In [72]:
df['types_of_travel'].apply(lambda x:x.lower())

0                   family
1                  friends
2                  friends
3                   family
4                     solo
              ...
337    friends,family,solo
338                friends
339                friends
340    friends,family,solo
341                   solo
Name: types_of_travel, Length: 340, dtype: object

In [73]:
df['types_of_travel'].unique()

array(['family', 'friends', 'Solo', 'friends,family,solo',
       'family,friends', 'friends,family', 'friends,solo', 'Family',
       'friends,Solo', 'Family ', 'Family,Friends',
       'solo,family,friends ', 'family,friends ', 'Family,friends ',
       'solo', 'solo,friends', 'friend,family', 'Friends,Family',
       'family ', 'friends ', 'solo,family,friends', 'family,Friends',
       'solo,Family,Friends', 'Friends,families', 'Friends,Families',
       'Friends'], dtype=object)

In [74]:
df['season'].apply(lambda x:x.strip())
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'rainy', 'summer,winter',
       'summer,spring,autumn', 'summer,autumn', 'summer,spring,winter',
       'summer,spring', 'summer,spring,autumn,winter',
       'summer,monsoon,autumn', 'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring', 'summer '],
      dtype=object)

In [75]:
df['season'].dtype

dtype('O')

In [76]:
df['types_of_travel']=df['types_of_travel'].apply(lambda x : x.lower())

In [77]:
df['types_of_travel'].unique()

array(['family', 'friends', 'solo', 'friends,family,solo',
       'family,friends', 'friends,family', 'friends,solo', 'family ',
       'solo,family,friends ', 'family,friends ', 'solo,friends',
       'friend,family', 'friends ', 'solo,family,friends',
       'friends,families'], dtype=object)

In [78]:
df['types_of_travel']=func(df['types_of_travel'],'families','family')
df['types_of_travel'].unique()

array(['family', 'friends', 'solo', 'friends,family,solo',
       'family,friends', 'friends,family', 'friends,solo', 'family ',
       'solo,family,friends ', 'family,friends ', 'solo,friends',
       'friend,family', 'friends ', 'solo,family,friends'], dtype=object)

In [79]:
df['religion'].replace(to_replace=['all','religious','nan'],value='any',inplace=True)
df['religion'].unique()

array(['hindu', 'any', 'christian', 'musilm', 'chritian', 'hindhu',
       'sikhs,hindhu', 'jain', 'hindhu,jain', 'islam,all', 'religious ',
       'buddhism ', 'muslim', 'hindus', 'buddists',
       'hindu,buddhists,muslims', 'buddhists', 'sikhs', 'buddhists,sikhs',
       'hindus,jains,buddhists', 'jains',
       'hindus,muslims,buddhists,jains', 'hindu,sikh'], dtype=object)

In [80]:
df['religion']=func(df['religion'],'all','any')
df['religion'].unique()

array(['hindu', 'any', 'christian', 'musilm', 'chritian', 'hindhu',
       'sikhs,hindhu', 'jain', 'hindhu,jain', 'islam,any', 'religious ',
       'buddhism ', 'muslim', 'hindus', 'buddists',
       'hindu,buddhists,muslims', 'buddhists', 'sikhs', 'buddhists,sikhs',
       'hindus,jains,buddhists', 'jains',
       'hindus,muslims,buddhists,jains', 'hindu,sikh'], dtype=object)

In [81]:
df['religion']=func(df['religion'],'hindhu','hindus')
df['religion'].unique()

array(['hindu', 'any', 'christian', 'musilm', 'chritian', 'hindus',
       'sikhs,hindus', 'jain', 'hindus,jain', 'islam,any', 'religious ',
       'buddhism ', 'muslim', 'buddists', 'hindu,buddhists,muslims',
       'buddhists', 'sikhs', 'buddhists,sikhs', 'hindus,jains,buddhists',
       'jains', 'hindus,muslims,buddhists,jains', 'hindu,sikh'],
      dtype=object)

In [82]:
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '<40', '20and above', '20 and above', '20 and Above', '25-40',
       '20-60', '35 above', '30 above', '25 above', '20 above',
       '20 above ', '15 above', '30 -55', '30-55', '30-45', '27', '23',
       '13', '21', '26', '19', '28', '16', '40', '32', '45', '>15', '>20',
       '>10', 'above 25', 'above 15', 'above 45', 'above 30', 'above 40',
       'above 12', 'above 7', 'above 20', 'above 10', 'any ', '0'],
      dtype=object)

In [83]:
df['age'].apply(lambda x: x.strip())

0      any
1       20
2       25
3      any
4      any
      ...
337      0
338     30
339     30
340     30
341     30
Name: age, Length: 340, dtype: object

In [84]:
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '<40', '20and above', '20 and above', '20 and Above', '25-40',
       '20-60', '35 above', '30 above', '25 above', '20 above',
       '20 above ', '15 above', '30 -55', '30-55', '30-45', '27', '23',
       '13', '21', '26', '19', '28', '16', '40', '32', '45', '>15', '>20',
       '>10', 'above 25', 'above 15', 'above 45', 'above 30', 'above 40',
       'above 12', 'above 7', 'above 20', 'above 10', 'any ', '0'],
      dtype=object)

In [85]:
df['age']=func(df['age'],'above','')
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '<40', '20and ', '20 and ', '20 and Above', '25-40', '20-60',
       '35 ', '30 ', '25 ', '20 ', '20  ', '15 ', '30 -55', '30-55',
       '30-45', '27', '23', '13', '21', '26', '19', '28', '16', '40',
       '32', '45', '>15', '>20', '>10', ' 25', ' 15', ' 45', ' 30', ' 40',
       ' 12', ' 7', ' 20', ' 10', 'any ', '0'], dtype=object)

In [86]:
df['age']=func(df['age'],'>','')
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '<40', '20and ', '20 and ', '20 and Above', '25-40', '20-60',
       '35 ', '30 ', '25 ', '20 ', '20  ', '15 ', '30 -55', '30-55',
       '30-45', '27', '23', '13', '21', '26', '19', '28', '16', '40',
       '32', '45', ' 25', ' 15', ' 45', ' 30', ' 40', ' 12', ' 7', ' 20',
       ' 10', 'any ', '0'], dtype=object)

In [87]:
df['age']=func(df['age'],'<','')
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '40', '20and ', '20 and ', '20 and Above', '25-40', '20-60', '35 ',
       '30 ', '25 ', '20 ', '20  ', '15 ', '30 -55', '30-55', '30-45',
       '27', '23', '13', '21', '26', '19', '28', '16', '32', '45', ' 25',
       ' 15', ' 45', ' 30', ' 40', ' 12', ' 7', ' 20', ' 10', 'any ', '0'],
      dtype=object)

In [88]:
df['age']=func(df['age'],'-','')
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '40', '20and ', '20 and ', '20 and Above', '2540', '2060', '35 ',
       '30 ', '25 ', '20 ', '20  ', '15 ', '30 55', '3055', '3045', '27',
       '23', '13', '21', '26', '19', '28', '16', '32', '45', ' 25', ' 15',
       ' 45', ' 30', ' 40', ' 12', ' 7', ' 20', ' 10', 'any ', '0'],
      dtype=object)

In [89]:
df['age']=func(df['age'],' ','')
df['age'].unique()

array(['any', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '40', '20and', '20andAbove', '2540', '2060', '3055', '3045', '27',
       '23', '13', '21', '26', '19', '28', '16', '32', '45', '12', '7',
       '0'], dtype=object)

In [90]:
df['age'].replace(to_replace='any',value='0',inplace=True)
df['age'].unique()

array(['0', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '40', '20and', '20andAbove', '2540', '2060', '3055', '3045', '27',
       '23', '13', '21', '26', '19', '28', '16', '32', '45', '12', '7'],
      dtype=object)

In [91]:
def func1(t):
    lis=[]
    for i in t:
        i=i[:2]
        lis.append(i)
    return lis    
df['age']=func1(df['age'])

In [92]:
df['age'].unique()

array(['0', '20', '25', '22', '35', '18', '24', '15', '11', '30', '10',
       '40', '27', '23', '13', '21', '26', '19', '28', '16', '32', '45',
       '12', '7'], dtype=object)

In [93]:
df['age']=df['age'].astype(int)
df['age'].dtype

dtype('int32')

In [94]:
df['age'].unique()

array([ 0, 20, 25, 22, 35, 18, 24, 15, 11, 30, 10, 40, 27, 23, 13, 21, 26,
       19, 28, 16, 32, 45, 12,  7], dtype=int64)

In [95]:
df.dtypes

location            object
place               object
state               object
location_rating    float64
age                  int32
season              object
affordable          object
types_of_travel     object
religion            object
item_id              int32
user_id              int64
user_rating        float64
timestamp            int64
dtype: object

In [96]:
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindu,1,1,0.0,881250949
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,"summer,spring,winter,rainy,autumn",Yes,friends,any,2,1,3.0,891717742
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,any,3,1,1.0,878887116
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindu,4,1,0.0,880606923
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,"summer,spring,winter,rainy,autumn",Yes,solo,any,5,1,1.0,886397596

In [97]:
df.to_csv('clean_travel_data.csv')

In [98]:
df['season']=df['season'].apply(lambda x: x.strip())
df['season'].replace(to_replace='rainy',value='monsoon',inplace=True)
df['season'].unique()

array(['winter', 'summer,spring,winter,rainy,autumn', 'monsoon', 'spring',
       'summer', 'autumn', 'summer,winter', 'summer,spring,autumn',
       'summer,autumn', 'summer,spring,winter', 'summer,spring',
       'summer,spring,autumn,winter', 'summer,monsoon,autumn',
       'summer,monsoon', 'autumn,winter,spring',
       'monsoon,autumn,winter,spring', 'autumn,winte,spring',
       'monsoon,autumn,spring', 'autumn,winter,spring,summer',
       'monsoon,autumn,winter', 'autumn,winter,summer,spring'],
      dtype=object)

In [99]:
def comma(x):
    lis=[]
    for i in x:
        if ',' in i:
            i='any'
        lis.append(i)    
    return lis

In [100]:
df['season']=comma(df['season'])
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindu,1,1,0.0,881250949
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,1,3.0,891717742
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,any,3,1,1.0,878887116
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindu,4,1,0.0,880606923
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,1,1.0,886397596

In [101]:
df['season'].unique()

array(['winter', 'any', 'monsoon', 'spring', 'summer', 'autumn'],
      dtype=object)

In [102]:
df['types_of_travel']=comma(df['types_of_travel'])

In [103]:
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindu,1,1,0.0,881250949
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,1,3.0,891717742
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,any,3,1,1.0,878887116
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindu,4,1,0.0,880606923
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,1,1.0,886397596

In [104]:
df['types_of_travel']=df['types_of_travel'].apply(lambda x: x.strip())

In [105]:
travel_types=pd.get_dummies(df['types_of_travel'],prefix='travel_type')
travel_types.head()

   travel_type_any  travel_type_family  travel_type_friends  travel_type_solo
0                0                   1                    0                 0
1                0                   0                    1                 0
2                0                   0                    1                 0
3                0                   1                    0                 0
4                0                   0                    0                 1

In [106]:
df=pd.concat([df,travel_types],axis=1)
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp,travel_type_any,travel_type_family,travel_type_friends,travel_type_solo
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindu,1,1,0.0,881250949,0,1,0,0
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,1,3.0,891717742,0,0,1,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,monsoon,Yes,friends,any,3,1,1.0,878887116,0,0,1,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindu,4,1,0.0,880606923,0,1,0,0
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,1,1.0,886397596,0,0,0,1

In [107]:
df['season'].apply(lambda x: x.strip())
df['season'].replace(to_replace='monsoon',value='rainy',inplace=True)
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp,travel_type_any,travel_type_family,travel_type_friends,travel_type_solo
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindu,1,1,0.0,881250949,0,1,0,0
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,1,3.0,891717742,0,0,1,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,rainy,Yes,friends,any,3,1,1.0,878887116,0,0,1,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindu,4,1,0.0,880606923,0,1,0,0
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,1,1.0,886397596,0,0,0,1

In [108]:
df

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,user_id,user_rating,timestamp,travel_type_any,travel_type_family,travel_type_friends,travel_type_solo
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindu,1,1,0.0,881250949,0,1,0,0
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,1,3.0,891717742,0,0,1,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,rainy,Yes,friends,any,3,1,1.0,878887116,0,0,1,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindu,4,1,0.0,880606923,0,1,0,0
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,1,1.0,886397596,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,pelling,pelling,sikkim,4.5,0,winter,yes,any,"hindu,sikh",338,11,3.0,886434402,1,0,0,0
338,zuluk,zuluk,sikkkim,3.5,30,winter,yes,friends,hindu,339,11,5.0,879876734,0,0,1,0
339,teesta river,teesta river,sikkim,4.0,30,any,yes,friends,any,340,11,0.0,879551380,0,0,1,0
340,gurudongmar lake,gurudongmar lake,sikkim,4.0,30,any,yes,any,any,341,11,5.0,884714402,1,0,0,0
341,goechala,goechala,sikkim,3.5,30,any,yes,solo,any,342,11,0.0,882139746,0,0,0,1

In [109]:
df['religion']=comma(df['religion'])
df['religion'].unique()

array(['hindu', 'any', 'christian', 'musilm', 'chritian', 'hindus',
       'jain', 'religious ', 'buddhism ', 'muslim', 'buddists',
       'buddhists', 'sikhs', 'jains'], dtype=object)

In [110]:
df['religion'].replace(to_replace=[x for x in df['religion'] if x.startswith('m')] , value='muslim',inplace=True)
df['religion'].unique()

array(['hindu', 'any', 'christian', 'muslim', 'chritian', 'hindus',
       'jain', 'religious ', 'buddhism ', 'buddists', 'buddhists',
       'sikhs', 'jains'], dtype=object)

In [111]:
def repl(y):
    lis=[]
    for x in y:
        if x.startswith('m') :
            x='muslim'
        elif x.startswith('b'):
            x='buddist'
        elif x.startswith('h'):
            x='hindus'
        elif x.startswith('r'):
            x='any'
        elif x.startswith('j'):
            x='jain'
        elif x.startswith('c'):
            x='christian'
        lis.append(x)  
    return lis

In [112]:
df['religion']

0      hindu
1        any
2        any
3      hindu
4        any
       ...
337      any
338    hindu
339      any
340      any
341      any
Name: religion, Length: 340, dtype: object

In [113]:
religion=pd.get_dummies(df['religion'],prefix='religion')
religion.head()

,religion_any,religion_buddhism,religion_buddhists,religion_buddists,religion_christian,religion_chritian,religion_hindu,religion_hindus,religion_jain,religion_jains,religion_muslim,religion_religious,religion_sikhs
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0

In [114]:
df['religion']=repl(df['religion'])

In [115]:
df['religion'].unique()

array(['hindus', 'any', 'christian', 'muslim', 'jain', 'buddist', 'sikhs'],
      dtype=object)

In [116]:
religion=pd.get_dummies(df['religion'],prefix='religion')
religion.head()

,religion_any,religion_buddist,religion_christian,religion_hindus,religion_jain,religion_muslim,religion_sikhs
0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0
3,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0

In [117]:
df=pd.concat([df,religion],axis=1)
df.head()
df

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,...,travel_type_family,travel_type_friends,travel_type_solo,religion_any,religion_buddist,religion_christian,religion_hindus,religion_jain,religion_muslim,religion_sikhs
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindus,1,...,1,0,0,0,0,0,1,0,0,0
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,...,0,1,0,1,0,0,0,0,0,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,rainy,Yes,friends,any,3,...,0,1,0,1,0,0,0,0,0,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindus,4,...,1,0,0,0,0,0,1,0,0,0
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,...,0,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,pelling,pelling,sikkim,4.5,0,winter,yes,any,any,338,...,0,0,0,1,0,0,0,0,0,0
338,zuluk,zuluk,sikkkim,3.5,30,winter,yes,friends,hindus,339,...,0,1,0,0,0,0,1,0,0,0
339,teesta river,teesta river,sikkim,4.0,30,any,yes,friends,any,340,...,0,1,0,1,0,0,0,0,0,0
340,gurudongmar lake,gurudongmar lake,sikkim,4.0,30,any,yes,any,any,341,...,0,0,0,1,0,0,0,0,0,0
341,goechala,goechala,sikkim,3.5,30,any,yes,solo,any,342,...,0,0,1,1,0,0,0,0,0,0

In [118]:
df['season']=df['season'].apply(lambda x: x.strip())

In [119]:
season=pd.get_dummies(df['season'],prefix='season')
season.head()

,season_any,season_autumn,season_rainy,season_spring,season_summer,season_winter
0,0,0,0,0,0,1
1,1,0,0,0,0,0
2,0,0,1,0,0,0
3,0,0,0,0,0,1
4,1,0,0,0,0,0

In [120]:
df=pd.concat([df,season],axis=1)
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,...,religion_hindus,religion_jain,religion_muslim,religion_sikhs,season_any,season_autumn,season_rainy,season_spring,season_summer,season_winter
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindus,1,...,1,0,0,0,0,0,0,0,0,1
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,...,0,0,0,0,1,0,0,0,0,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,rainy,Yes,friends,any,3,...,0,0,0,0,0,0,1,0,0,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindus,4,...,1,0,0,0,0,0,0,0,0,1
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,...,0,0,0,0,1,0,0,0,0,0

In [121]:
df.columns

Index(['location', 'place', 'state', 'location_rating', 'age', 'season',
       'affordable', 'types_of_travel', 'religion', 'item_id', 'user_id',
       'user_rating', 'timestamp', 'travel_type_any', 'travel_type_family',
       'travel_type_friends', 'travel_type_solo', 'religion_any',
       'religion_buddist', 'religion_christian', 'religion_hindus',
       'religion_jain', 'religion_muslim', 'religion_sikhs', 'season_any',
       'season_autumn', 'season_rainy', 'season_spring', 'season_summer',
       'season_winter'],
      dtype='object')

In [122]:
df.dtypes

location                object
place                   object
state                   object
location_rating        float64
age                      int32
season                  object
affordable              object
types_of_travel         object
religion                object
item_id                  int32
user_id                  int64
user_rating            float64
timestamp                int64
travel_type_any          uint8
travel_type_family       uint8
travel_type_friends      uint8
travel_type_solo         uint8
religion_any             uint8
religion_buddist         uint8
religion_christian       uint8
religion_hindus          uint8
religion_jain            uint8
religion_muslim          uint8
religion_sikhs           uint8
season_any               uint8
season_autumn            uint8
season_rainy             uint8
season_spring            uint8
season_summer            uint8
season_winter            uint8
dtype: object

In [123]:
df

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,...,religion_hindus,religion_jain,religion_muslim,religion_sikhs,season_any,season_autumn,season_rainy,season_spring,season_summer,season_winter
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindus,1,...,1,0,0,0,0,0,0,0,0,1
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,...,0,0,0,0,1,0,0,0,0,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,rainy,Yes,friends,any,3,...,0,0,0,0,0,0,1,0,0,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindus,4,...,1,0,0,0,0,0,0,0,0,1
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,pelling,pelling,sikkim,4.5,0,winter,yes,any,any,338,...,0,0,0,0,0,0,0,0,0,1
338,zuluk,zuluk,sikkkim,3.5,30,winter,yes,friends,hindus,339,...,1,0,0,0,0,0,0,0,0,1
339,teesta river,teesta river,sikkim,4.0,30,any,yes,friends,any,340,...,0,0,0,0,1,0,0,0,0,0
340,gurudongmar lake,gurudongmar lake,sikkim,4.0,30,any,yes,any,any,341,...,0,0,0,0,1,0,0,0,0,0
341,goechala,goechala,sikkim,3.5,30,any,yes,solo,any,342,...,0,0,0,0,1,0,0,0,0,0

In [124]:
df['season'].unique()

array(['winter', 'any', 'rainy', 'spring', 'summer', 'autumn'],
      dtype=object)

In [125]:
df.head()

,location,place,state,location_rating,age,season,affordable,types_of_travel,religion,item_id,...,religion_hindus,religion_jain,religion_muslim,religion_sikhs,season_any,season_autumn,season_rainy,season_spring,season_summer,season_winter
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,Yes,family,hindus,1,...,1,0,0,0,0,0,0,0,0,1
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,Yes,friends,any,2,...,0,0,0,0,1,0,0,0,0,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,rainy,Yes,friends,any,3,...,0,0,0,0,0,0,1,0,0,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,Yes,family,hindus,4,...,1,0,0,0,0,0,0,0,0,1
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,Yes,solo,any,5,...,0,0,0,0,1,0,0,0,0,0

In [126]:
df.drop('affordable',inplace=True,axis=1)
df.head()

,location,place,state,location_rating,age,season,types_of_travel,religion,item_id,user_id,...,religion_hindus,religion_jain,religion_muslim,religion_sikhs,season_any,season_autumn,season_rainy,season_spring,season_summer,season_winter
0,Bhoramdeo Temple,"Chaura village, Kawardha town",chhattisgarh,4.0,0,winter,family,hindus,1,1,...,1,0,0,0,0,0,0,0,0,1
1,maitri bagh,"Near to Maroda, Bhilai",chhattisgarh,4.0,20,any,friends,any,2,1,...,0,0,0,0,1,0,0,0,0,0
2,Tirathgarh Falls,Bastar district,chhattisgarh,4.6,25,rainy,friends,any,3,1,...,0,0,0,0,0,0,1,0,0,0
3,Sirpur Heritage Site,bank of holy Mahanadi river,chhattisgarh,5.0,0,winter,family,hindus,4,1,...,1,0,0,0,0,0,0,0,0,1
4,Rajeev Smriti Van,Raipur,chhattisgarh,3.9,0,any,solo,any,5,1,...,0,0,0,0,1,0,0,0,0,0

In [127]:
df['season'].unique()

array(['winter', 'any', 'rainy', 'spring', 'summer', 'autumn'],
      dtype=object)

In [128]:
df.shape

(340, 29)

In [129]:
df.columns

Index(['location', 'place', 'state', 'location_rating', 'age', 'season',
       'types_of_travel', 'religion', 'item_id', 'user_id', 'user_rating',
       'timestamp', 'travel_type_any', 'travel_type_family',
       'travel_type_friends', 'travel_type_solo', 'religion_any',
       'religion_buddist', 'religion_christian', 'religion_hindus',
       'religion_jain', 'religion_muslim', 'religion_sikhs', 'season_any',
       'season_autumn', 'season_rainy', 'season_spring', 'season_summer',
       'season_winter'],
      dtype='object')

In [130]:
df.to_csv('final_1.csv')